{% extends "holics/layout.html" %}
{% block body %}
<div class=" outer_right row">
  <h2>Your current watch list</h2>
  <h2>Drama List</h2>

  {% for d in dramas %}
  <div class="card col-lg-4 col-sm-12">
    <img src="https://image.tmdb.org/t/p/w500/{{ d.thumbnail_img }}" alt="drama picture"
      class="card-img-top" />
    <div class="card-body">
      <div class="card-title">
        Title :{{ d.title }} Number of episodes : {{ d.total_ep }}
        url : {{  d.thumbnil_img }}
      </div>
      {% for w in d.watchstat.all %}
      Last watched ep : {{ w.last_watched_ep }}
      <br>
      Last released : {{ w.last_released_ep }}
      {% if w.last_watched_ep < w.last_released_ep %} <button class="btn btn-success">New</button>
        {% endif %}
        {% empty %}
        <p></p>
        {% endfor %}

    </div>
  </div>
  {% endfor %}
</div>
</div>
{% endblock %}