{% extends "holics/layout.html" %}
{% block body %}
<div class=" outer_right row">
  <h1 style="background-color: white;color: black;">Your current watch lis</h1>
  <br><br>


 {% if dramas %}
  <h2 style="background-color: grey;">Drama List </h2>
  <div class="program">

    {% for d in dramas %}
    <div class="card col-lg-4 col-sm-12">
      <a href="{% url 'holics:delete_drama' d.id %}"> <i class="fa-solid fa-trash" style="color: red;position: absolute;top: 10px;right: 10px;"></i> </a>
      <img src="{{ d.thumbnail_img }}" alt="drama picture" class="card-img-top" />
      <div class="card-body">
        <div class="card-title">
          Title :{{ d.title }} 
        </div>
        {% for w in d.drama_watchstat.all %}
        Last watched :S{{ w.season }} E{{ w.last_watched_ep }}
        <br>
        Last released : S{{ d.max_season }} E{{ w.last_released_ep }}
        <br>
        Next ep on: {{ w.next_ep_release_date }}
        {% if w.last_watched_ep < w.last_released_ep or w.season < d.max_season %} <button class="btn btn-success">New</button>
          {% endif %}
          {% empty %}
          <p></p>
          {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
{% endif %}
  <br>
  <hr>


  {% if animes %}
  <h2 style="background-color: grey;">Anime List</h2>
  <div class="program">
    {% for anime in animes %}
    <div class="card col-lg-4 col-sm-12">
      <a href="{% url 'holics:delete_anime' anime.id %}"> <i class="fa-solid fa-trash" style="color: red;position: absolute;top: 10px;right: 10px;"></i> </a>
      <img src="{{ anime.thumbnail_img }}" alt="anime picture" class="card-img-top" />
      <div class="card-body">
        <div class="card-title">
          Title :{{ anime.title }}
          <br>
          Total of episodes : {{ anime.total_ep }}
        </div>

        {% for w in anime.ani_watchstat.all %}
        Last watched ep :
        <button  class="btn btn-light" style="font-size: 9px;padding:5px"><a href="{% url 'holics:minus_ep_anime' anime.id %}"><i class="fa-solid fa-minus" style="color: black;"></i></a></button>
         {{ w.last_watched_ep }} 
         <button class="btn btn-light" style="font-size: 9px;padding:5px"><a href="{% url 'holics:plus_ep_anime' anime.id %}"><i class="fa-solid fa-plus" style="color: black;"></i></a></button>

        <br>
        Last released : {{ w.last_released_ep }}
        {% if w.last_watched_ep < w.last_released_ep %} <button class="btn btn-warning" style="font-size: 10px;position: absolute;top: 10px;left: 10px;">New episode</button>
        
          {% endif %}
          {% empty %}
          <p></p>
          {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
{% endif %}
  <br>
  <hr>


  {% if mangas %}
  <h2 style="background-color: grey;">Manga List</h2>
  <div class="program">
    {% for manga in mangas %}
    <div class="card col-lg-4 col-sm-12">
      <a href="{% url 'holics:delete_manga' manga.id %}"> <i class="fa-solid fa-trash" style="color: red;position: absolute;top: 10px;right: 10px;"></i> </a>
      <img src="{{ manga.thumbnail_img }}" alt="anime picture" class="card-img-top" />
      <div class="card-body">
        <div class="card-title">
          Title :{{ manga.title }} Number of episodes : {{ manga.total_ep }}
          <br>
          Status : {{ manga.status }}

        </div>
        {% for w in manga.manga_watchstat.all %}
        Last watched ep : {{ w.last_watched_ep }}
        <br>
        Last released : {{ w.last_released_ep }}
        {% if w.last_watched_ep < w.last_released_ep %} <button class="btn btn-success">New</button>
          {% endif %}
          {% empty %}
          <p></p>
          {% endfor %}

      </div>
    </div>
    {% endfor %}
  </div>
    {% endif %}


  {% if movies %}
  <h2 style="background-color: grey;">Movie List</h2>
  <div class="program">
    {% for movie in movies %}
    <div class="card col-lg-4 col-sm-12">
      <a href="{% url 'holics:delete_movie' movie.id %}"> <i class="fa-solid fa-trash" style="color: red;position: absolute;top: 10px;right: 10px;"></i> </a>
      <img src="https://image.tmdb.org/t/p/original/{{ movie.thumbnail_img }}" alt="movie poster" class="card-img-top" />
      <div class="card-body">
        <div class="card-title">
          Title :{{ movie.title }}
        </div>
        <div>
          Release date : {{ movie.release_date }}
        </div>
        {% for w in movie.movie_notes.all %}
        status : {{ w.watch_status }}
        <br>
        {% if w.like %} <button class="btn btn-warning">Liked</button>
          {% endif %}
          {% empty %}
          <p></p>
          {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}



</div>
</div>
  <div class="redirect_button">
    <button class="btn btn-primary">
      <a href="{% url 'holics:add'  %}">
        Add
      </a>
    </button>
  </div>
{% endblock %}